.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:  #f2f2f2;
    position: relative;
    overflow: hidden;
  }
  

  .header__title {
    width: 730px;
    z-index: 3;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin: 0px 0px 0px 64px;
    padding: 0px;
  }
  
  .header__subtitle {
    width: 388px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    z-index: 3;
    line-height:  25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
  }
  
  .header__link {
    color: #2f80ed;
  }
  
  .header__main-illustration {
    width: 765px;
    height: 608px;
    background-image: url(/images/two_again.png);
    background-size: cover;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
  }
  
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    right: 0px;
    top: 64px;
    background-color: #2f80ed;
    z-index: 1;

    
  }




      