
.footer {
    display: flex;
    background-color: #1f1f1f;
    justify-content: center;
    min-height: 350px;
    color: white;
  }
  
  .footer__columns {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 60px 0px 40px 0px;
  }
  
  .footer__column_content_copyright {
    display: flex;
    flex-basis: 711px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
  
  
  
  
  .footer__author {
    padding: 0px;
    margin: 18px 0px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
  }
  
  .footer__column-heading {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer__column-links {
    margin: 20px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
  }
  
  .footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
  }
  
  .footer__social-icon {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }
  
  